################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/Backup
/Debug
/packages
/out/build/x64-Debug
/x64/Debug
/SudoVdaController/x64/Debug
